---
import DarkButton from './DarkButton.svelte';
---

<header class='relative h-12'>
  <div class='fixed top-0 left-0 flex h-12 w-full justify-center'>
    <div class='h-full w-full max-w-5xl bg-red-600 px-2'>
      <DarkButton client:visible />
    </div>
  </div>
</header>
