---
import SEO from '@/components/SEO.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <SEO
      title='Hide In Image'
      description='Hide In Image is a free online tool that allows you to hide text or files inside an image.'
      image='/images/og-image.png'
      url='https://hideinimage.com'
    />
  </head>
  <body
    class='flex min-h-screen flex-col bg-white text-gray-900 dark:bg-gray-900 dark:text-gray-100'
  >
    <slot />
  </body>
</html>

<script>
  // Switch dark mode if localStorage is set
  document.documentElement.classList.toggle(
    'dark',
    localStorage.getItem('theme') === 'dark' ||
      (localStorage.getItem('theme') !== 'light' &&
        window.matchMedia('(prefers-color-scheme: dark)').matches)
  );
</script>
